<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript">
function saveToTemporaryFile()
{
    zwibbler.saveToTemporaryFile(
        "png",
	function(url) {
	    alert("Got temporary url: " + url );
	    var input = document.createElement('input'); 
   	    input.setAttribute('type','hidden');
            input.setAttribute('image',url);
            document.body.appendChild(input);  
    });
}
</script>
  

  <div class="field">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :context %><br />
    <%= f.text_field :context %>
  </div>
  <div class="field">
    <%= f.label :definition %><br />
    <%= f.text_field :definition %>
  </div>
   <div class="field">
    <%= f.label :example_sentence %><br />
    <%= f.text_field :example_sentence %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <script src="http://zwibbler.com/component.js#width=700&height=500" type="text/javascript"></script>
    <input type="button" value="Save Image" onclick="saveToTemporaryFile()">
  </div>
  </div>
  <div class="actions">
	  <%= f.submit %>
  </div>
<% end %>
