<p id="notice"><%= notice %></p>

<% provide(:title, @user.first + " " + @user.last) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first %> <%= @user.last %>
      </h1>
    </section>
  </aside>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
